<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FINT Stack Generator</title>
    <style type="text/css">
        input[type=submit] {
            width: 40ex;
        }
        input {
            width: 80ex;
        }
        textarea {
            width: 80%;
            height: 60ex;
        }
    </style>
</head>
<body>
<form method="post" th:object="${stack}">
    <table>
        <tr>
            <td>Environment</td>
            <td>
                <select th:field="*{environment}">
                    <option value="beta">beta</option>
                    <option value="api">api</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Stack</td>
            <td>
                <input type="text" th:field="*{stack}"/>
            </td>
        </tr>
        <tr>
            <td>URI</td>
            <td>
                <input type="text" th:field="*{uri}"/>
            </td>
        </tr>
        <tr>
            <td>Port</td>
            <td>
                <input type="number" min="8000" max="9999" th:field="*{port}"/>
            </td>
        </tr>
        <tr>
            <td>Repository</td>
            <td>
                <select th:field="*{repository}">
                    <option value="beta">beta</option>
                    <option value="prod">prod</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Consumer</td>
            <td>
                <select th:field="*{consumer}">
                    <option th:each="item : ${consumers}" th:value="${item}" th:text="${item}">consumer</option>
                </select>
                <input type="text" th:field="*{version}"/>
            </td>
        </tr>
        <tr>
            <td>Provider</td>
            <td>
                <select th:field="*{provider}">
                    <option th:each="item : ${providers}" th:value="${item}" th:text="${item}">provider</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Assets</td>
            <td>
                <input type="url" th:field="*{assets}"/>
            </td>
        </tr>
    </table>
    <input type="submit"/>
</form>
<textarea th:text="${result}"></textarea>
</body>
</html>