<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FINT Stack Generator</title>
    <link th:href="@{main.css}" href="main.css" rel="stylesheet" type="text/css"/>
    <script th:src="@{api.js}" src="api.js" type="application/javascript">
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var configurations = /*[[${configurations}]]*/ [];

        window.onload = () => { refetch([[${stack.consumer}]],[[${stack.version}]],[[${stack.provider}]]); };

        /*]]>*/
    </script>
</head>
<body>
<div class="logo-container">
    <img th:src="@{fint.svg}" src="fint.svg" alt="logo" class="logo"/>
</div>
<form method="post" th:object="${stack}">

    <ul class="flex-outer">
        <li>
            <label for="environment">Environment</label>
            <select id="environment" th:field="*{environment}">
                <option value="play-with-fint">play-with-fint</option>
                <option value="beta" selected="selected">beta</option>
                <option value="api">api</option>
            </select>
        </li>

        <li>
            <label for="stack">Stack</label>
            <select list="configurations" id="stack" th:field="*{stack}" onchange="updateConfiguration(configurations)">
                <option value="">...</option>
                <option th:each="item : ${configurations}" th:value="${item.name}" th:text="${item.name}"></option>
            </select>
        </li>

        <li>
            <label for="uri">URI</label>
            <input id="uri" type="text" th:field="*{uri}"/>
        </li>

        <input type="hidden" th:field="*{repository}" />

        <li>
            <label for="consumer">Consumer</label>
            <select id="consumer" th:field="*{consumer}" onchange="fetchTags()">
                <option value="">...</option>
            </select>
            <select id="version" th:field="*{version}">
                <option value="">...</option>
            </select>
        </li>


        <li>
            <label for="provider">Provider</label>
            <select id="provider" th:field="*{provider}">
                <option value="">...</option>
            </select>
        </li>

        <li>
            <label for="assets">Assets</label>
            <input id="assets" type="url" th:field="*{assets}"/>
        </li>

    </ul>

    <div class="buttons">
        <input type="submit" value="Generate Stack!"/>
        <input type="submit" value="Copy to clipboard" onclick="copyToClipboard()"/>
        <div id="message"></div>
    </div>


</form>
<textarea id="stack-file" th:text="${result}"></textarea>
</body>
</html>